
.rojo {
	 width: 300px;
	 height: 300px;
	 background-color: red;
	 border: 2px green solid;
}
.verde {
/* position: relative respeta el flujo de info
   position : abasolute se ubica directo en coordenadas
   position : fixed; fija respecto a pagina
*/
	 position:  sticky;
	 width: 300px;
	 height: 300px;
	 background-color: green;
	 border: 2px red solid;
	 left: 100px;
	 top:  100px;
}
